.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

p{
    text-align: justify;
}

ul{
    padding-left: 20px;

}

@media print { 
    .table td, .table th { 
        background-color: rgb(247, 184, 184) !important; 
    } 
    body{
        width: 21cm;
        height: 29.7cm;
        margin-left: auto;
        margin-right: auto;
   } 
}



body{
    height:297mm;
    width:210mm;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.table td,.table th{
    padding:5px;
    margin:5px;
    align-self: auto;
    white-space: normal !important; 
    word-wrap: break-word;
}



.name{
    background: rgb(247, 184, 184);
    padding:30px 40px;
}
.sum{
    background-color:rgb(253, 238, 240);
    padding: 90px 40px;
}
.skill{
    background-color:rgb(253, 238, 240);
    display:flex;
    flex-direction: column;
    padding: 50px 40px;
}
.ed{
    padding: 50px;
}