.row-header {
    margin: 0px auto;
    padding: 0px 0px;
}

p{
    text-align: justify;
}

ul{
    padding-left: 20px;
}

body{
    height:297mm;
    width:210mm;
    margin-left: auto;
    margin-right: auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 95%;
}

.table td,.table th{
    padding:5px;
    margin:5px;
    align-self: auto;
}

.name{
    background: rgb(247, 184, 184);
    padding:30px 40px;
}
.sum{
    background-color:rgb(253, 238, 240);
    padding: 90px 40px;
}
.skill{
    background-color:rgb(253, 238, 240);
    display:flex;
    flex-direction: column;
    padding: 50px 40px;
}
.ed{
    padding: 50px;
}